@font-face {
  font-family: 'Metropolis Medium';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/metropolis/Metropolis-Medium.otf');
}

body {
  font-family: 'Metropolis Medium';
}